.container {
    background-color: var(---color-primary);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    width: 100vw;
    position: fixed;
    bottom: 50px;
    border-radius: 16px 16px 0 0;
}